/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
/*General*/
img {
    width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    color: #2c303f;
}

input {
    width: 100%;
    padding: 5px 5px;

}

/*Header*/
.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: #fff;
}

.header img {
    width: 100px;
}

.nav {
    align-items: center;
}

.nav a {
    color: black;
    margin-right: 20px;
}



/*Section1*/
.section1 {
    margin-top: 20px;
}

.section1 img {
    width: 90%;
}



.link-sign {
    text-align: center;
    margin-top: 1rem;
}

/* Section2*/
.section2 {
    text-align: center;
    background-color: #f4f3f4;
    padding: 2rem;

}

.section2 img {
    padding: 20px 60px;
    width: 250px;
}

.logos {
    margin-top: 1rem;
}

.sec2 {
    margin-bottom: 50px;
}

/*Section3*/

.links {
    margin-top: 20px;
    margin-bottom: 20px;
}

.links img {
    width: 50px;
    margin: 10px 0;
}

.links a {
    color: #2c303f;
}

.link-container {
    margin-bottom: 20px;
}

/*Footer*/



.footer img {
    width: 20px;
    ;
}

.nav-rrss {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.footer a {
    color: #2c303f;
}

.footer svg {
    width: 20px;
    height: 20px;
}

.nav-footer {
    display: flex;
    gap: 1rem;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f3f4;
}

.rrss a {
    margin-right: 20px;
}

/*Buttoms*/

.buttom {
    display: block;
    margin-right: 0px;
    padding: 10px 5px;
}

.buttom1 {

    border: black .3px solid;
    justify-content: center;
    box-shadow: 0px 10px 13px -7px #000000, 0px 3px 0px 5px rgba(0, 0, 0, 0);
}

.buttom2 {
    display: block;
    margin-top: 10px;
    padding: 10px 5px;
    background-color: #192592;
    color: white;
    text-align: center;
    border-radius: 10px;

}

.buttom3 {
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
    border: #192592 .3px solid;
    color: #192592;
    padding: 15px 40px;
    background-color: white;
    font-weight: 700;
}



/*Medias Query*/

@media screen and (min-width: 768px) {
    .buttom2 {
        margin-top: 0px;
        margin-left: -22px;
    }

    .link-sign {
        text-align: left;
    }

    .buttom3 {
        width: 30%;
    }

    .section-link {
        display: flex;
        justify-content: space-between;
    }

    .nav-footer {
        margin-bottom: 0px;
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;

    }

    .nav-rrss {
        flex-direction: row;
    }

}

@media screen and (min-width: 1200px) {
    .buttom2 {
        margin-top: 0px;
        margin-left: 0px;
        padding: 10px 10px;
    }

    .buttom3 {
        width: 20%;
    }

}