/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

@media only screen and (min-width: 500px) {
    .menu .navicon {
        display: none;
    }


}


img {
    width: 100%;

}

.menu {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: beige;
}

.menu .logo {
    width: 100px;
}

.menu ul {
    display: flex;
    margin: 0;
    list-style: none;

    ;
}

.menu a {
    color: black;
    margin-left: 20px;
    text-decoration: none;
}


.menu .navicon {
    width: 30px;

}

.menu .button {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    border: 1px solid black;

    display: block;

}

.familia {
    width: 400px;
}

.section1 {
    padding-top: 100px;
}

.buttonPurple {
    text-decoration: none;
    background-color: blueviolet;
    font-weight: bold;
    color: white;
    border: 1px solid blueviolet;
    border-radius: 3px;
    padding: 10px;
}

.caja-texto {
    padding: 10px;
}

.section2 {
    text-align: center;
    margin-top: 70px;
    background-color: #F4F3F4;
    padding: 100px 0;


}

.buttonDiscover {
    color: blueviolet;
    background-color: white;
    text-decoration: none;
    border: 1px solid blueviolet;
    border-radius: 3px;
    font-weight: bold;
    padding: 10px;
    margin-top: 30px;
    display: inline-block;
    width: 200px;
}

.section3 {
    margin-top: 50px;
}

.texto {
    margin-bottom: 70px;
    ;
}

.section3display {
    display: flex;
    justify-content: space-between;
}


.logos .boximage {
    border: 1px solid black;


}

.section2 img {
    width: 60%;
    padding: 20px;
}

.info ul {
    list-style-type: none;
}

.info p {
    font-weight: bold;
}